html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2, 
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    margin: 0;
    padding: 0;
}

/* Colors settings */
:root {
    --primary-color: #ff0000e0; 
    --secondary-color: #EEAC5C;
    --primary-white-color: #fff;
    --dark-color: #000000;
    --light-dark-color:#2C2C2C;

    --base-color: #F4F4F4;
    --red--bg-color:rgba(255, 0, 0, 0.7);
    --light-bg-color: rgba(240, 203, 158);
    --text-color: #212121;
    --accent-text-color: #2196F3;
}
body{
    font-family: "Rubik", sans-serif;
    font-weight: 400;
    font-size: 20px;
    line-height: 1.4;
    background-color: var(--base-color);
    color: var(--text-color);
}
img {
    width: 100%;
    vertical-align: middle;
}

ul {
    list-style: none
}

a {
    text-decoration: none;
    color: inherit;
}
table{
    border-collapse: collapse;
    border-spacing: 0;
}
h1,h2, h3, h4{
    font-family: 'Poppins';
}
h1{
    font-size: 3em;
    font-weight: 800;
}
h2 {
    font-size: 2em;
    font-weight: 700;
}
h3 {
    font-size: 1.5em;
    font-weight: 700;
}
h4 {
    font-size: 1em;
    font-weight: 600;
}
.container {
    max-width: 1680px;
    margin: 0 auto;
    padding: 0 1em;
}

.main-links a:hover{
    color: var(--accent-text-color);
}
.second-links a:hover{
    color: var(--accent-text-color);
}
.social__links a:hover{
    color: var(--primary-white-color);
    background-color: var(--accent-text-color);
}
.icon{
    display: inline-block;
}
.flex{
    display: flex;
    justify-content: space-between;
}
.flex-center{
    display: flex;
    align-items: center;
}
.flex-center2{
    display: flex;
    justify-content: center;
    align-items: center;
}
.flex-column{
    display: flex;
    flex-direction: column;
    gap: 1em;
}
.flexwrap{
    display: flex;
    flex-wrap: wrap;
}
.items {
    padding: 0.1em;
}
.mobile-hide{
    display: none;
}
.products {
    flex-shrink: 0;
    overflow: hidden;
}
.primary-btn, .secondary-btn{
    font-size: 0.6em;
    padding: .5em 1em;
    width: fit-content;
    height: auto;
    border-radius: 1em;
    transform: background-color .3s, color .3s
}
.primary-btn{
    background: var(--primary-color);
    color: var(--primary-white-color);
}
.primary-btn:hover{
    background-color: var(--secondary-color);
}
.secondary-btn{
    background-color:var(--light-dark-color);
    color: var(--base-color);
}
.secondary-btn:hover{
    background-color: var(--dark-color);
    color: var(--primary-white-color);
}
.departments__menu.hide{
    display: none;
}
.departments__links {
    display: block;
    padding-right: 10px;
}
.widgets .show{
    display: flex;
}
.trending .item, .allproducts .item{
    position: relative;
}
/* Header */
.header__wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: 300;
    font-size: 0.8em;
    line-height: 2em;
}
.header__list {
    justify-content: space-evenly;
    gap: 2em;
}

.header__item{
    position: relative;
    transition: color .5s;

}
/* Custom select */
.custom-select{
    width: 70px;
    position: relative;
}
.custom-select select{
    display: none;
}
.select-selected{
    color: var(--text-color);
    background-color: var(--base-color);
}
.select-selected:after {
    position: absolute;
    content: "";
    top: 13px;
    right: 0px;
    width: 0;
    height: 0;
    border: 5px solid transparent;
    border-color: black transparent transparent transparent;
}
.select-selected.select-arrow-active:after {
    border-color: transparent transparent black transparent;
    top: 9px;
}
/* style the items (options), including the selected item: */
.select-items div{
    color: var(--text-color);
    padding: 0px 16px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    cursor: pointer;
}
.select-selected{
    padding: 0px 16px;
    cursor: pointer;
}
/* Style items (options): */
.select-items {
    position: absolute;
    background-color: var(--base-color);
    top: 100%;
    left: 0;
    right: 0;
    z-index: 10;
}
.select-hide {
    display: none;
}
.select-items div:hover,
.same-as-selected {
    background-color: var(--secondary-color);
}

.header__right .header__item{
    padding: 0.25em  .8em;
}
/* Header nav */
.nav__wrapper{
    display: flex;
    justify-content: space-between;

    padding-top: .5em;
}
.nav__list{
    line-height: 80px;
    gap: 2em;
}
.trigger{
    display: flex;

    font-size: 1.5em;
    padding: 0.25em;
    margin-right: 0.5em;
}
.logo a{
    display: flex;
    position: relative;

    font-family: "Poppins";
    font-weight: 800;
    font-size: 1.7em ;
    padding-left: 0.75em;;
    margin-right: 2em;
}
.circle{
    position: absolute;
    top: -8px;
    left: -5px;
    width: 34px;
    height: 34px;
    background-color: var(--primary-color);
    border-radius: 50%;
    z-index: -1;
}
.circle::before{
    content: "";
    position: absolute;
    bottom: 9px;
    right: 8px;
    width: 17.5px;
    height: 17.5px;
    background-color: var(--primary-white-color);
    opacity: .5;
    border-radius: 50%;
}
.cart-list{
    display: flex;
    align-items: center;
    gap: 2em;
}
.icon-text{
    font-size: .8em;
}
.icon-large{
    position: relative;
}
.nav__right{
    position: relative;
}
.nav__right .fly-item {
    position: absolute;
    top: -6px;
    left: 13px;
    height: 14px;
    width: 14px;
    text-align: center;
    font-size: .6em;
    line-height: .5em;
    color: var(--primary-white-color);
    background-color: var(--light-dark-color);
    padding: 3px;
    border-radius: 50%;
}
.dropdown-menu .flex-column{
    flex: 1;
    min-width: 180px;
    padding-left: 2em;
    margin-bottom: 1.5em;
    z-index: 1;
}

/* Header main - Departments */
.header-main{
    background-color: var(--secondary-color);
    padding: 1.5em 0;
    margin-bottom: 2em;
}
.departments{
    position: relative;
    z-index: 10;
}
.departments__head{
    position: inherit;
    width: 328px;
    padding: 0.75em 1.5em;
    background-color: var(--red--bg-color);
    color: var(--primary-white-color);
    border-radius: 8px 8px 0 0;
    margin-bottom: -1.6em;
}
.departments__trigger{
    position: absolute;
    top: 0;
    right: 5px;
    width: 60px;
    height: 60px;
    padding: 1.3em;
}
.departments__mini-text, .mini-text{
    font-size: .6em;
}
.departments__links{
    font-size: .8em;
}
/* li underline instead of links temporary */
.departments .childbearing li:hover{
    text-decoration: underline;
    cursor: pointer;
}


/* Header search form */
.header-main__right{
    flex: 1;
}
form{
    position: relative;
}
.search input{
    width: 90%;
    font-weight: 700;
    font-size: .9em;
    line-height: 2em;
    padding: .3em 8em .3em 4em;
    border-bottom-left-radius: 7px;
    border-top-left-radius: 7px;
    border: 0;
    outline: 0;
}
.search span{
    position: absolute;
    top: 8px; 
}
.search button{
    position: absolute;
    top: 0;
    right: -22px;
    padding: .9em;
    border: none;
    outline: 0;
    border-top-right-radius: 7px;
    border-bottom-right-radius: 7px;

    font-weight: 600;
    font-size: .8em;

    background-color: var(--red--bg-color);
    color: var(--primary-white-color);
    cursor: pointer;
    transition: bachground-color .3s;
}
.search button:hover {
    background-color: var(--light-dark-color);
}

 /* Header canvas */
.site-off{
    position: fixed;
    width: 320px;
    height: 100%;
    background-color: var(--base-color);
    overflow-y: auto;
    overflow-x: hidden;
    z-index: 1000;
    transform: translateX(-100%);
    visibility: hidden;
    transition: transform .4s, visibility .4s;
    will-change: transform, visibility;
}
.showmenu .site-off{
    transform: translateX(0);
    visibility: visible;
    transform: transform .4s 0s, visibility .4s 0s;
}
.canvas{
    width: 100%;
    height: 100%;
    touch-action: auto;
    padding: 1.5em;
}
.canvas__head{
    display: flex;
    align-items: center;
    padding: 1.5em;
    margin: -1.5em -1.5em 1.5em;
    background-color: var(--secondary-color);
    border-bottom-right-radius: 160px 50px;
}
.canvas__head .logo{
    z-index: 10;
    position: relative;
}
/* .canvas__head .logo .circle{
    left: 1px;
} */
.t-close{
    position: absolute;
    top: 38px;
    right: 16px;
    font-size:1.2em;
    width: 25px;
    height: 25px;
    margin-left: -40px;
    border-radius: 50%;
    color: var(--text-color);
    background-color: var(--secondary-color);
    transition: all .3s;
    cursor: pointer;
    z-index: 10;
}
.t-close:hover{
    color: var(--primary-color);
    background-color: var(--base-color);
}
.canvas .departments__head{
    padding: .5em;
    margin-bottom: 1em;
    margin-right: -10px;
    border-radius: 20px 7px 0 0;
    background-color: var(--secondary-color);
}
.canvas .departments__links{
    display: flex;
    justify-content: space-between;
    font-size: 1em;
    line-height: 30px;
}
.departments__links span{
    font-weight: 400;   
}
.canvas__departments .childbearing{
    margin: .5em 0;
}
.canvas .childbearing {
    width: 100%;
}
.canvas .childbearing>ul, .canvas .childbearing> .dropdown-menu {
    font-weight: 300;
    font-size: .9em;
    line-height: 28px;
    height: auto;
    max-height: 0;
    overflow: hidden;
    transition: max-height .5s linear;
}
.canvas .dropdown-menu .products {
    display: none;
}
.canvas .dropdown-menu .flex-column{
    padding: 0;
    gap: 0;
}
.canvas__departments .childbearing li{
    padding: 5px 0;
}
.canvas .top-nav ul, .canvas .mobile-nav ul{
    flex-direction: column;
    align-items: flex-start;
    line-height: 30px;
    padding-top: 1.2em;
    border-top: 1px solid var(--light-dark-color);
}
.canvas .childbearing .icon{
    font-weight: 600;
    font-size: 1.2em;
    line-height: initial;
    padding: .5em;
}
.canvas .arrow i{
    transform: rotate(90deg);
}
.canvas .top-nav ul{
    flex-direction: column;
    justify-content: flex-start;
    align-items: start;
}
.top-nav .header__right .header__item{
    padding: 0;
}
.top-nav .header__right, .top-nav .header__left{
    margin-top: 1em;
}
.canvas .top-nav .header__right ul ul{
    display: flex;
    flex-direction: row;
    position: inherit;
    left: 0;
    border: none;
    padding: 0;
}
.canvas .header__list,
.canvas .nav__list {
    gap: 1em;
}
.canvas .top-nav .header__right ul ul li a{
    padding: .3em;
    margin: .2em;
    border: 1px solid var(--light-dark-color);
    border-radius: 4px;
    line-height: 15px;
    font-size: .7em;
}
.canvas .childbearing .icon{
    padding: 0;
}
.initial{
    display: initial;
    height: 100%;
}

/* Main Slider */

.slide{
    position: relative;
    height: 470px;
}
.slide__text-content{
    position: absolute;
    top: 70%;
    left: 0;
    justify-content: flex-end;
    padding: 0 0 10%  10%;
    gap: .5em;
    z-index: 1;
}
.slide__subheading{
    font-weight: 700;
    font-size: .5em;
    width: fit-content;
    padding: 5px 10px;
    background-color: var(--dark-color);
    color: var(--base-color);
    border-radius: 5px;
}
.slide__heading{
    font-size: .9em;
    text-transform: uppercase;
}
.swiper .swiper-button-next, .swiper .swiper-button-prev{
    color: red;
}
.slide__item .white{
    color: var(--primary-white-color);
}
/* Brands block */
.brands .wrapper{
    justify-content: space-evenly;  
    padding: 1em 0;
}
.brands__item{
    max-width: 80px;
}
.brands__img{
    opacity: .5;
    transition: opacity .3s;
}
.brands__img:hover{
    opacity: 1;
}
/* Block Product - Top */
.sectop{
    justify-content: space-between;
    margin-top: 1em;
    margin-bottom: .5em;
    padding-bottom: 2em;
    border-bottom: 1px solid var(--light-dark-color);
}
.sectop h2{
    position: relative;
    font-weight: 700;
    font-size: 1.5em;
    padding-left: 1em;
}
.sectop h2 .circle{
    top: -10px;
    left: -14px;
}
.products .item .offer{
    text-align: center;
    margin-bottom: 1.5em;
}
.offer__heading{
    text-transform: uppercase;
    margin-bottom: 0.5em;
}
.offer__timer{
   font-weight: 600;
   font-size: 1em;
   line-height: 1.5;
   color: var(--primary-white-color);
   background-color:var(--red--bg-color);
   padding: 5px 0;
   border-radius: 5px;
   text-align: center;
}

/* Big product */
.products.big  .item{
    padding: 2.5em;
    border: 2px solid var(--light-dark-color);
    border-radius: 7px;
    max-width: 430px;
    margin: 0 auto;
}
.products.mini{
    padding: 0 1em;
}

.products .item__img img{
    transition: transform .3s;
}
.products .item__img img:hover{
    transform: scale(1.05);
}
.products .item__media{
    position: relative;
}
.products .hoverable{
    position: absolute;
    top: 10px;
    right: 5px;
}
.products .hoverable li a{
    display: block;
    width: 24px;
    height: 24px;
    padding: 0.25em;
    margin: 0.25em;
    border-radius: 50%;
    background-color:var(--base-color);
    opacity: .5;
    transition: opacity .3s;
    background-size: 80%;
    background-repeat: no-repeat;
    background-position: center;
}
.products .item:hover .hoverable li a{
    opacity: 1;
}
.buy {
    background-image: url(/images/shopping-cart.svg);
}
.like{
    background-image: url(/images/heart.svg);
}
.share{
    background-image: url(/images/share.svg);
}
.products  .hoverable li:not(.active){
    transform: translateX(100%);
    opacity: 0;
    transition: transform .3s, opacity .2s;
}
.products .item:hover .hoverable li{
    transform: translateX(0);
    opacity: 1;
}
.products .hoverable li:last-child{
    transition-delay: .1s;
}
.products .rating{
    display: flex;
    align-items: center;
    gap: .5em;
}
.products .stars{
    width: 100px;
    height: 20px;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath d='M12.0006 18.26L4.94715 22.2082L6.52248 14.2799L0.587891 8.7918L8.61493 7.84006L12.0006 0.5L15.3862 7.84006L23.4132 8.7918L17.4787 14.2799L19.054 22.2082L12.0006 18.26ZM12.0006 15.968L16.2473 18.3451L15.2988 13.5717L18.8719 10.2674L14.039 9.69434L12.0006 5.27502L9.96214 9.69434L5.12921 10.2674L8.70231 13.5717L7.75383 18.3451L12.0006 15.968Z' fill='rgba(240,187,64,1)'%3E%3C/path%3E%3C/svg%3E");
    background-repeat: repeat-x;
    background-position-y: top;
}
.products .item:hover h3{
    text-decoration: underline;
}
.products .price .current{
    font-size: calc(1em + .5vw) ;
    color: var(--primary-color);
    margin-right: .25em;
}
.products .price .normal{
    text-decoration: line-through;
}
.products .quantity{
    display: flex;
    justify-content: space-between;
}
.products .stock .bar{
    height: 3px;
    margin-top: 1em;
    background-color: lightgrey;
    overflow: hidden;
}
.products .stock .available{
    height: 3px;
    width: 11%;
    background-color: var(--accent-text-color);
    max-width: 430px;
    border-radius: 7px;
}
.flexwrap .products{
    flex: 0 0 100%;
    width: 100%;
    margin-bottom: 2em;
}
.products .mini{
    padding: 0 1em;
}
.products.mini .item{
    display: flex;
    justify-content: center;
    margin-bottom: 2em;

}
.products.mini .item__content{
    display: flex;
    flex-direction: column;
}
.item__content h3{
    font-weight: 400;
    font-size: .9em;
    order: -1;
}
.products.mini .item__media{
    margin-right: 1.3em;
}
.products.mini .item__content{
    max-width: 200px;
}
.stock .mini-text{
    font-weight: 400;
    font-size: 1em;
}
/* Main products */
.products.main .item{
    flex-direction: column;
    flex: 0 0 100%;
    padding: 0 1em;
    padding-bottom: 2em;
}
.products.main .item__media{
    /* max-height: 470px; */
    margin-bottom: 2em;
}
.sectop{
    display: flex;
}
.banners .products-categories .item{
    /* display: flex; */
    padding: 1.5em;
    margin: .5em;
    border: 1px solid var(--light-dark-color);
    border-radius: 10px;
}
.mini-links ul{
    font-size: .7em;
    color: var(--text-color);
    margin-top: 1em;
}
.mini-links li a:hover{
    text-decoration: underline;
}
.banners .second-links{
    position: absolute;
    bottom: 0;
    right: 0;
    margin-top: 2em;
}
.banners .item__content{
    position: relative;
}
/* Footer Widget */
.widgets .wrapper{
    display: flex;
    justify-content: flex-start;
    padding: 0 1em;
}
.widgets{
    padding: 3em 0 2em;
    border-bottom: 1px solid lightgrey;
}
.widgets__btn {
    position: relative;
    width: 100%;
    height: 35px;
    border: none;
    background-color: var(--base-color);
    text-align: left;
}
.item ul{
    padding-left: .5em;
    padding-bottom: .5em;
}


/* Footer Social */
.social{
    padding: 1em 0;
}
 .social__links {
     display: flex;
     justify-content: center;
 }
 .social__links li{
    margin-right: 1em;
 }
 .social__link {
    display: flex;
    justify-content:center;
    align-items: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #fff;
 }

 .watch .item .item__img{
    width: 330px;
 }

 /* Cart*/
.flyimage.ibg{
    opacity: 1;
    position: fixed;
    z-index: 100;
    transition: all .5s cubic-bezier(0.83, 0, 0.17, 1) 0s;
}
.cart-list__products{
    position: absolute;
    top: 40px;
    left: -200px;
    overflow: auto;
    max-width: 300px;
    max-height: 240px;
    z-index: 10;
    font-size: .5em;
    background-color: var(--base-color);
    border-radius: 10px;
    padding: 15px;
    opacity: 0;
    visibility: hidden;
    transform: translate(0px, 20px);
    transition: all .3s ease 0s;
}
.cart-list__products.active{
    opacity: 1;
    visibility: visible;
    transform: translate(0px, 0px);
}
.cart-list__image{
    flex: 0 0 100px;
    height: 100px;
}
.cart-list__body{
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0 0 0 10px;
}
.cart-list__title{
    color: inherit;
    font-weight: 600;
    transition: color .3s ease 0s; 
}
.cart-list__title:hover{
    color: var(--secondary-color)!important ;
}
.cart-list__delBtn{
    font-size: 1.5em;
    color: red;
}
.cart-list__delBtn:hover{
    text-decoration: underline;
}
.cart-list__item{
    display:  flex;
    align-items: flex-start;
    border-bottom: 1px solid #000;
}
.cart-list__item:first-child{
    border-top: 1px solid #000;
}
.cart-list__item:not(:last-child){
    margin: 0 0 15px 0 ;
}
.cart-list__item:first-child {
    margin: 10px 0 15px 0
}
/* Responsive styles */
@media screen and (min-width:320px) and (max-width:481px){
    .logo a {
        margin-right: 1em;
    }
    .social__link{
        width: 30px;
        height: 30px;
    }
    .brands__item{
        padding: 0 20px;
        margin-right: 20px;
    }
    .widgets .wrapper{
        padding: 0;
    }
    .widgets .thumb{
    margin: 0 -1em;
    border-bottom: 1px solid var(--light-dark-color);
    }
    .widgets .thumb:first-of-type{
        border-top: 1px solid var(--dark-color);
    }
    .widgets h4::after{
        content: "";
        display: block;
        width: 25px;
        height: 25px;
        position: absolute;
        top: 5px;
        right: 0px;
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath d='M11.9997 13.1714L16.9495 8.22168L18.3637 9.63589L11.9997 15.9999L5.63574 9.63589L7.04996 8.22168L11.9997 13.1714Z'%3E%3C/path%3E%3C/svg%3E");
    }
    .widgets .wrapper {
        flex-direction: column;
    }
}
@media screen and (max-width:600px)  {
    .slide__text-content{
        gap: .3em;
    }
    .slide__heading{
        font-size: .5em;
        line-height: 10px;
    }
    .slide__subheading{
        font-size: .3em;
        line-height: 10px;
        padding: 2.5px 5px;
    }
    .brands__item{
        padding: 0 20px;
    } 
    .primary-btn{
        font-size: .3em;
    }
    .cart-list__products{
        position: fixed;
        top: 65px;
        left: 0;
        width: 100%;
        max-width: 600px;
    }
}
@media screen and (min-width:481px){
    .products.main .item{
        flex: 0 0 50%;
    }
    .banners .category-wrapper{
        flex: 0 0 100%;
    }
}
@media screen  and (min-width:768px){
    .products .price .current{
        font-size: 1.2em;
    }
    .products.mini{
        flex: 0 0 50%;
    }
    .products.main .item, .banners .category-wrapper{
        flex: 0 0 33.333%;
    }
    .widgets .item{
        font-size: 1.4em;
    }

}
@media screen and (min-width: 992px) {
    .container {
        padding: 0 2em;
    }
    .desktop-hide{
        display: none;
    }
    .mobile-hide{
        display: block;
    }
    .logo{
        margin-right: 2em;
    }
    .header__nav{
        padding: 0;
        margin: 1em 0 0 0;
        border: none;
    }
    .nav__right>li:not(:first-of-type){
        margin-left: 1em;
    }

    /* Dropdown menu */
    nav .dropdown-menu{
        position: absolute;
        width: 100%;
        height: auto;
        top: auto;
        left:0;
        right:0;
        padding: 2em 0;
        line-height: 2em;
        background-color: var(--light-bg-color);
        box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
        z-index: 100;

        display: none;
    }
    .childbearing:hover .dropdown-menu{
        display: block;
    }
    .dropdown-menu .wrapper{
        display: flex;
    }
    .dropdown-menu h4{
        font-size: 0.9em;
        text-transform: uppercase;
    }
    .dropdown-menu ul, .products {
        font-size: .7em;
    }
    .dropdown-menu .products{
        position: relative;
        padding: 0;
        align-items: center;
    }
    .dropdown-menu .products .media{
        height: 400px;
    }
    .dropdown-menu .products__cover img{
        position: absolute;
        top: 10px;
        right: 0;
        display: block;
        object-fit: cover;
        height: 100%;
    }
    .dropdown-menu .products__text{
        position: absolute;
        bottom: 50px;
        right: 60px;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: .5em;
        margin-top: .5em;
        line-height: initial;
    }
    .dropdown-menu .products__text h4{
        font-size: 1.3em;
    }
    .header-main__right{
        max-width: 600px;
        margin-left: auto;
    }
    .departments__menu{
        position: absolute;
        top: 100%;
        width: 328px;
        background-color: var(--base-color);
        border: 1px solid var(--light-dark-color);
        border-top: none;
        border-bottom: none;
    }
    .departments__links{
        display: flex;
        justify-content: space-between;
        border-bottom: 1px solid var(--light-dark-color);
        padding: .6em;
    }
    .departments__menu .childbearing > ul{
        position: absolute;
        top: 0;
        left: 100%;
        width: 63%;
        height: 100%;
        min-height: 85.7%;
        padding: 1.5em;
        border: 1px solid var(--light-dark-color);
        font-size: .7em;
        line-height: 2em;
        border-top: 0;
        display: none;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center
    }
    
    /* show submenu */
    .departments .childbearing:hover ul{
        display: block;
    }
    .departments__menu .shop-all ul{
        background-image: url(../images/sportman.webp);
    }
    .departments__menu .men-style ul{
        background-image: url(../images/nike-sportman.webp);
    }
    .departments__menu .women-style ul{
        background-image: url(../images/nike_sportwoman.webp);
    }
    .departments__menu .accessories ul, .sale ul, .sportpit ul, .electronic ul{
        background-color: rgb(255, 255, 255, .9);
    }
    /* Slider */
    .slider > div > .wrapper{
    width: calc(100% - (330px + 2em));
    margin-left: auto;
    }
    /* Top products */
    .trending .products {
        flex: 0 0 33.333%;
        padding: 0 0 1em 1em;
    }
    .products-categories .category-wrapper{
        flex: 0 0 33.333%;
        padding: 0 1em;
    }
    .products .big .item__media{
        max-height: 350px;
    }
    .products.mini{
        flex: 0 0 25%;
    }
    .widgets .wrapper > .thumb{
        margin-right: 5em;
    }
}   







